/* layout */
.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    margin: 20px;
    width: clamp(200px,70%, 1000px);
}

/* style */
.container {
    background:  linear-gradient(0, #E8DAC8,#9C8B76);
}

.card {
    background-color: #faebd7;
    box-shadow: 0 12px 23px 2px #69553B;
    border: 2px solid #daa520;
    border-radius: 20px;
}

h1 {
    /* reference : https://css-tricks.com/snippets/css/fluid-typography/ */
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (42 - 20) * ((100vw - 300px) / (2200 - 300)));
}

p {
    font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (2200 - 300)));
}